*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-family-title: fenwick-outline, sans-serif; font-weight: 400; font-style: normal;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
}

#container{
    width: 200vw;
    height: 100vh;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

/* INTRO SECTION */

.intro{
    width: 100vw;
    height: 100vh;
    background: url("imgs/moon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 2px solid red;
}


.hr-a{
    top: 6.66%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.hr-b{
    top: 23.32%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.hr-c{
    top: 39.98%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.hr-d{
    top: 56.64%;
    left: 5%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.hr-e{
    top: 73.3%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.hr-f{
    top: 90%;
    position: absolute;
    width: 100vw;
    border: 3px solid white;
}

.obsession-h1{
    width: 100%;
    font-size: 3rem;
    font-family: var(--font-family-title);
    display: block;
    color: white;
    position: absolute;
}

.tribute-p{
    width: 40%;
    left: 33%;
    top: 14%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--black);
    filter: drop-shadow(2px 4px 2px var(--white));
}

/* NON-EXISTENT SECTION */

.does-not-exist-section{
    width: 100vw;
    height: 100vh;
    background: url("imgs/moon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border: 2px solid red;
}

