*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-family-title: fenwick-outline, sans-serif; font-weight: 400; font-style: normal;
    --white: #ffffff;
    --black: #000000;
    font-size: 16px;
}

body{
    background-color:#263159;
  
}

#container{
    width: 600vw;
    height: 80vh;
    margin-top: 10vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    border-top: 8px solid brown;
    border-bottom: 8px solid brown;
}

/* INTRO SECTION */

.intro{
    width: 100vw;
    height: 100%;
    background: url("imgs/moon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

@keyframes moveString6{
    0%{top: 6.66%;}
    10%{top: 7.5%;}
    20%{top: 6.66%;}
    30%{top: 6%;}
    40%{top: 6.66%;}
    50%{top: 7%;}
    60%{top: 6.66%;}
    70%{top: 6.30%;}
    80%{top: 6.66%;}
    90%{top: 6.80%;}
    100%{top: 6.66%;}
}

.stringy6{
    animation: moveString6 0.4s ease-in-out backwards;
}

@keyframes moveString5{
    0%{top: 23.32%;}
    10%{top: 24%;}
    20%{top: 23.32%;}
    30%{top: 22.9%;}
    40%{top: 23.32%;}
    50%{top: 23.9%;}
    60%{top: 23.32%;}
    70%{top: 23%;}
    80%{top: 23.32%;}
    90%{top: 23.7%;}
    100%{top: 23.32%;}
}

.stringy5{
    animation: moveString5 0.4s ease-in backwards;
}

@keyframes moveString4{
    0%{top: 39.98%;}
    10%{top: 40.5%;}
    20%{top: 39.98%;}
    30%{top: 39%;}
    40%{top: 39.98%;}
    50%{top: 40.3%;}
    60%{top: 39.98%;}
    70%{top: 39.20%;}
    80%{top: 39.98%;}
    90%{top: 40.2%;}
    100%{top: 39.98%;}
}

.stringy4{
    animation: moveString4 0.4s ease-in backwards;
}

@keyframes moveString3{
    0%{top: 56.64%;}
    10%{top: 57.5%;}
    20%{top: 56.64%;}
    30%{top: 56%;}
    40%{top: 56.64%;}
    50%{top: 57.1%;}
    60%{top: 56.64%;}
    70%{top: 56.20%;}
    80%{top: 56.64%;}
    90%{top: 56.9%;}
    100%{top: 56.64%;}
}

.stringy3{
    animation: moveString3 0.4s ease-in backwards;
}

@keyframes moveString2{
    0%{top: 73.3%;}
    10%{top: 74%;}
    20%{top: 73.3%;}
    30%{top: 72.8%;}
    40%{top: 73.3%;}
    50%{top: 73.8%;}
    60%{top: 73.3%;}
    70%{top: 73%;}
    80%{top: 73.3%;}
    90%{top: 73.6%;}
    100%{top: 73.3%;}
}

.stringy2{
    animation: moveString2 0.4s ease-in backwards;
}

@keyframes moveString1{
    0%{top: 90%;}
    10%{top: 91%;}
    20%{top: 90%;}
    30%{top: 89%;}
    40%{top: 90%;}
    50%{top: 90.8%;}
    60%{top: 90%;}
    70%{top: 89.20%;}
    80%{top: 90%;}
    90%{top: 90.6%;}
    100%{top: 90%;}
}

.stringy1{
    animation: moveString1 0.4s ease-in backwards;
}


.hr-a{
    top: 6.66%;
    position: absolute;
    width: 100vw;
    border: 1px solid white;
    z-index: 15;
}

.hr-b{
    top: 23.32%;
    position: absolute;
    width: 100vw;
    border: 1px solid white;
    z-index: 15;
}

.hr-c{
    top: 39.98%;
    position: absolute;
    width: 100vw;
    border: 1px solid white;
    z-index: 15;
}

.hr-d{
    top: 56.64%;
    position: absolute;
    width: 100vw;
    border: 1px solid white;
    z-index: 15;
}

.hr-e{
    top: 73.3%;
    position: absolute;
    width: 100vw;
    border: 1px solid white;
    z-index: 15;
}

.hr-f{
    top: 90%;
    position: absolute;
    width: 600vw;
    border: 1px solid white;
    z-index: 15;
}

.obsession-h1{
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-family-title);
    display: block;
    color: white;
    position: absolute;
    top: 45%;
    z-index: 20;
}

.tribute-p{
    width: 40%;
    left: 33%;
    top: 25%;
    font-size: 1rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    z-index: 20;
}

.initial-circle{
    width: 15rem;
    height: 20rem;
    border-radius: 50%;
    opacity: 0.8;
    background-color: #000000;
    z-index: 5;
    margin-top: 7.5rem;
}

/* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 100vw;
    height: 100%;
    background: url("imgs/selfie.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.hr-1{
    top: 6.66%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.hr-2{
    top: 23.32%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.hr-3{
    top: 39.98%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.hr-4{
    top: 56.64%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.hr-5{
    top: 73.3%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.hr-6{
    top: 90%;
    position: absolute;
    width: 20vw;
    border: 1px solid white;
}

.never-heard-p{
        width: 60%;
        left: 20%;
        top: 10%;
        font-size: 1.5rem;
        line-height: 1.60;
        display: block;
        color: white;
        position: absolute;
        font-family: var(--font-family-title);
        color: var(--white);
        filter: drop-shadow(2px 4px 2px var(--black));   
}

.does-not-exist-p{

    width: 60%;
    left: 20%;
    top: 60%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));   
}


/* FOR THE PAST 30 YEARS SECTION */

.for-the-past-30-years-section{
    width: 100vw;
    height: 100%;
    background: url("imgs/ghost.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.for-the-past-30-years-p{
    width: 60%;
    left: 20%;
    top: 10%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

.the-most-thorough-imitator-p{
    width: 60%;
    left: 20%;
    top: 60%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

/* BORN IN JAPAN SECTION */

.born-in-japan-section{
    width: 100vw;
    height: 100%;
    background: url("imgs/streets-of-japan.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.ramen{
    position: absolute;
    width: 60vw;
    height: auto;
    left: 20%;
    top: 30%;
    animation: rotateRamen 4s ease-in infinite forwards;
    z-index: 100;
}

.vinyl{
    position: absolute;
    width: 60vw;
    height: auto;
    left: 20%;
    top: 30%;
    animation: rotateVinyl 8s ease-in infinite forwards;
    z-index: 99;
}

@keyframes rotateVinyl{
    0% {opacity: 1; transform: rotateZ(0deg);}
    100% {opacity: 1; transform: rotateZ(720deg);}
}

@keyframes rotateRamen{
    0% {opacity: 1; transform: rotateZ(0deg);}
    100% {opacity: 0; transform: rotateZ(360deg);}
}

.born-in-japan-p{
    width: 60%;
    left: 20%;
    top: 10%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

.reborn-p{
    width: 60%;
    left: 20%;
    top: 60%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

/* ASPIRE TO PERFECTION SECTION */

.aspire-to-perfection-section{
    width: 100vw;
    height: 100%;
    background: url("imgs/perfection.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.from-then-onwards-p{
    width: 60%;
    left: 25%;
    top: 10%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

.exactly-like-the-band-p{
    width: 60%;
    left: 25%;
    top: 50%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

/* MONK SECTION */

.monk-section{
    width: 100vw;
    height: 100%;
    background: url("imgs/monk.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}

.like-an-obsessed-monk-p{
    width: 60%;
    left: 25%;
    top: 10%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

.pursuing-perfection-p{
    width: 60%;
    left: 25%;
    top: 50%;
    font-size: 1.5rem;
    line-height: 1.60;
    display: block;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}



