*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-family-title: fenwick-outline, sans-serif; font-weight: 400; font-style: normal;
    --white: #ffffff;
    --black: #000000;
    --dark-green: #2C3333;
    --red: #ce5135;
    --font-family-text: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

body{
    background-color:#263159;
}

#container{
    width: 1900vw;
    height: 45vh;
    margin-top: 25vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: transparent;
    filter: drop-shadow(10px 12px 10px black);
    border-radius: 30px;
}

/* INTRO TEXT SECTION */

.intro-text{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid var(--white);
}

.obsession-h1{
    font-size: 4rem;
    font-family: var(--font-family-title);
    position: absolute;
    width: 40%;
    z-index: 20;
    text-align: center;
    right: 10%;
    top: 38%;
    color: var(--red);
    opacity: 0.8;
}

.tribute-p{
    width: 25%;
    left: 10%;
    bottom: 44%;
    font-size: 2.5rem;
    line-height: 1.6;
    text-align: center;
    color: white;
    position: absolute;
    font-family: var(--font-family-title);
    color: var(--white);
    z-index: 20;
}

/* MOON SECTION */

.moon-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 10vw;
}

.moon{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;

}

@keyframes moveString6{
    0%{top: 10%;}
    10%{top: 12%;}
    20%{top: 10%;}
    30%{top: 8%;}
    40%{top: 10%;}
    50%{top: 11.5%;}
    60%{top: 10%;}
    70%{top: 8.5%;}
    80%{top: 10%;}
    90%{top: 11%;}
    100%{top: 10%;}
}

.stringy6{
    animation: moveString6 0.4s ease-in-out backwards;
}

@keyframes moveString5{
    0%{top: 25%;}
    10%{top: 27%;}
    20%{top: 25%;}
    30%{top: 23%;}
    40%{top: 25%;}
    50%{top: 26.5%;}
    60%{top: 25%;}
    70%{top: 23.5%;}
    80%{top: 25%;}
    90%{top: 26%;}
    100%{top: 25%;}
}

.stringy5{
    animation: moveString5 0.4s ease-in backwards;
}

@keyframes moveString4{
    0%{top: 40%;}
    10%{top: 42%;}
    20%{top: 40%;}
    30%{top: 38%;}
    40%{top: 40%;}
    50%{top: 41.5%;}
    60%{top: 40%;}
    70%{top: 38.5%;}
    80%{top: 40%;}
    90%{top: 41%;}
    100%{top: 40%;}
}

.stringy4{
    animation: moveString4 0.4s ease-in backwards;
}

@keyframes moveString3{
    0%{top: 55%;}
    10%{top: 57%;}
    20%{top: 55%;}
    30%{top: 53%;}
    40%{top: 55%;}
    50%{top: 56.5%;}
    60%{top: 55%;}
    70%{top: 53.5%;}
    80%{top: 55%;}
    90%{top: 56%;}
    100%{top: 55%;}
}

.stringy3{
    animation: moveString3 0.4s ease-in backwards;
}

@keyframes moveString2{
    0%{top: 70%;}
    10%{top: 72%;}
    20%{top: 70%;}
    30%{top: 68%;}
    40%{top: 70%;}
    50%{top: 71.5%;}
    60%{top: 70%;}
    70%{top: 68.5%;}
    80%{top: 70%;}
    90%{top: 71%;}
    100%{top: 70%;}
}

.stringy2{
    animation: moveString2 0.4s ease-in backwards;
}

@keyframes moveString1{
    0%{top: 85%;}
    10%{top: 87%;}
    20%{top: 85%;}
    30%{top: 83%;}
    40%{top: 85%;}
    50%{top: 86.5%;}
    60%{top: 85%;}
    70%{top: 83.5%;}
    80%{top: 85%;}
    90%{top: 86%;}
    100%{top: 85%;}
}

.stringy1{
    animation: moveString1 0.4s ease-in backwards;
}


.hr-a{
    top: 10%;
    position: absolute;
    width: 1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

.hr-b{
    top: 25%;
    position: absolute;
    width: 1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

.hr-c{
    top: 40%;
    position: absolute;
    width: 1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

.hr-d{
    top: 55%;
    position: absolute;
    width: 1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

.hr-e{
    top: 70%;
    position: absolute;
    width:1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

.hr-f{
    top: 85%;
    position: absolute;
    width: 1820vw;
    border: 2px solid white;
    z-index: 100;
    opacity: 0.5;
}

/* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    margin: 0 5vw 0 0vw;
}

.never-heard-p{
        width: 100%;
        font-size: 2rem;
        line-height: 1.50;
        display: block;
        color: white;
        font-family: var(--font-family-text);
        color: var(--white);
        filter: drop-shadow(2px 4px 2px var(--black));   
        top: 42%;
}

.akio{
    color: var(--red);
}

/* SELFIE SECTION */

.selfie-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.selfie{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* DOES NOT EXIST SECTION */

.does-not-exist-section{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.does-not-exist-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));   
}

/* ghost SECTION */

.ghost-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.ghost{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* FOR THE PAST 30 YEARS SECTION */

.for-the-past-30-years-section{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw 0 5vw;
}

.for-the-past-30-years-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));   
    top: 42%;
}

.jimmy{
    color: var(--red);
}

/* footsteps SECTION */

.footsteps-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.footsteps{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* THOROUGH SECTION */

.thorough{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.the-most-thorough-imitator-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));   

}

.thorough-color{
    display: inline;
    color: var(--red);
}

/* BORN SECTION */

.born-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.born{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* IN JAPAN SECTION */

.in-japan{
    width: 60vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.born-in-japan-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

/* BORN IN JAPAN SECTION */

.born-in-japan-section{
    width: 50vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    position: relative;

    margin: 0 5vw 0 5vw;
}

.ramen{
    position: absolute;
    width: 23vw;
    height: auto;
    animation: rotateRamen 4s ease-in-out infinite forwards;
    z-index: 2;
    left: 24%;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 10px;
    
}

.vinyl{
    position: absolute;
    width: 21vw;
    height: auto;
    animation: rotateVinyl 4s ease-in-out infinite forwards;
    z-index: 1;
    left: 25%;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 10px;
}

@keyframes rotateVinyl{
    0% {opacity: 1; transform: rotateZ(0deg);}
    50% {opacity: 1; transform: rotateZ(720deg);}
    100% {opacity: 0; transform: rotateZ(0deg);}

}

@keyframes rotateRamen{
    0% {opacity: 1; transform: rotateZ(0deg);}
    50% {opacity: 0; transform: rotateZ(720deg);}
    100% {opacity: 1; transform: rotateZ(360deg);}

}

/* REBORN SECTION */

.reborn{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid white;
    margin: 0 5vw 0 5vw;
}


.reborn-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black));  
}

.reborn-color{
    display: inline;
    color: var(--red);
}

/* ASPIRE TO PERFECTION SECTION */


.perfection-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.perfection{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* FROM THEN ONWARDS SECTION */

.from-then-onwards-section{
    width: 100vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    margin: 0 5vw 0 5vw;
}

/* FROM THEN ONWARDS P */

.from-then-onwards-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black)); 
}

.exactly{
    display: inline;
    color: var(--red);
}

/* ANATOMY SECTION */

.anatomy-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.anatomy{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* MICRO SECTION */

.micro-section{
    width: 60vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.micro-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black)); 
}

.micro{
    display: inline;
    color: var(--red);
}

/* MONK SECTION */

.monk-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.monk{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* MONK TXT SECTION */

.monk-txt{
    width: 80vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.like-an-obsessed-monk-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black)); 
}

.obsessed{
    display: inline;
    color: var(--red);
}

/* Maze SECTION */

.maze-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.maze{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

/* too far section */

.too-far-section{
    width: 60vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-right: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.too-far-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black)); 
}

.too-far{
    display: inline;
    color: var(--red);
}

/* heaven SECTION */

.heaven-section{
    width: 70vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 5vw;
}

.heaven{
    width: 50%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

.heaven-text{
    width: 60vw;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    overflow-x: auto;
    overflow-y: hidden;
    border-left: 10px solid white;
    margin: 0 5vw 0 5vw;
}

.heaven-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
    display: block;
    color: white;
    font-family: var(--font-family-text);
    color: var(--white);
    filter: drop-shadow(2px 4px 2px var(--black)); 
}

.enough{
    display: inline;
    color: var(--red);
}

@media only screen and (max-width: 1200px){
    /* INTRO TEXT SECTION */

.intro-text{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.obsession-h1{
    font-size: 4rem;
    width: 40%;
    right: 10%;
    top: 38%;
}

.tribute-p{
    width: 25%;
    left: 10%;
    bottom: 30%;
    font-size: 2.5rem;
    line-height: 1.6;
}
}

@media only screen and (max-width: 800px){
    #container{
        width: 2300vw;
    }

    .intro-text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .obsession-h1{
        font-size: 3rem;
        width: 80%;
        right: 10%;
        top: 41%;
    }
    
    .tribute-p{
        width: 80%;
        left: 10%;
        bottom: 60%;
        font-size: 2rem;
        line-height: 1.6;
    }
    
    /* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 100vw;
    margin: 0 5vw 0 0vw;
}

.never-heard-p{
        width: 100%;
        font-size: 2rem;
        line-height: 1.50;
}

.does-not-exist-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.does-not-exist-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.for-the-past-30-years-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.for-the-past-30-years-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.thorough{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.the-most-thorough-imitator-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.in-japan{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.born-in-japan-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.born-in-japan-section{
    width: 80vw;
    height: 100%;
    position: relative;
    margin: 0 5vw 0 5vw;
}

.ramen{
    width: 30vw;
}
.vinyl{
    width: 30vw;
}

.reborn{
    width: 140vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}


.reborn-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50; 
}

.from-then-onwards-section{
    width: 150vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

/* FROM THEN ONWARDS P */

.from-then-onwards-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.micro-section{
    width: 80vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.micro-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.monk-txt{
    width: 120vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.like-an-obsessed-monk-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.too-far-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.too-far-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.heaven-text{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.heaven-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.hr-a{
    width: 2200vw;
}

.hr-b{
    width: 2200vw;
}

.hr-c{
    width: 2200vw;
}

.hr-d{
    width: 2200vw;
}

.hr-e{
    width:2200vw;
}

.hr-f{
    width: 2200vw;
}
}

@media only screen and (max-width: 700px){
    #container{
        width: 2300vw;
    }

    .intro-text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .obsession-h1{
        font-size: 3rem;
        width: 80%;
        right: 10%;
        top: 41%;
    }
    
    .tribute-p{
        width: 80%;
        left: 10%;
        bottom: 60%;
        font-size: 2rem;
        line-height: 1.6;
    }
    
    /* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 100vw;
    margin: 0 5vw 0 0vw;
}

.never-heard-p{
        width: 100%;
        font-size: 2rem;
        line-height: 1.50;
}

.does-not-exist-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.does-not-exist-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.ghost-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.ghost{
    width: 80%;
}

.for-the-past-30-years-section{
    width: 130vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.for-the-past-30-years-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.thorough{
    width: 130vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.the-most-thorough-imitator-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.in-japan{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.born-in-japan-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.born-in-japan-section{
    width: 80vw;
    height: 100%;
    position: relative;
    margin: 0 5vw 0 5vw;
}

.ramen{
    width: 30vw;
}
.vinyl{
    width: 30vw;
}

.reborn{
    width: 140vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}


.reborn-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50; 
}

.from-then-onwards-section{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

/* FROM THEN ONWARDS P */

.from-then-onwards-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.micro-section{
    width: 80vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.micro-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.monk-txt{
    width: 120vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.like-an-obsessed-monk-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.too-far-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.too-far-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.heaven-text{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.heaven-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.hr-a{
    width: 2200vw;
}

.hr-b{
    width: 2200vw;
}

.hr-c{
    width: 2200vw;
}

.hr-d{
    width: 2200vw;
}

.hr-e{
    width:2200vw;
}

.hr-f{
    width: 2200vw;
}
}

@media only screen and (max-width: 500px){
    #container{
        width: 3000vw;
    }

    .intro-text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .obsession-h1{
        font-size: 3rem;
        width: 80%;
        right: 10%;
        top: 41%;
    }
    
    .tribute-p{
        width: 80%;
        left: 10%;
        bottom: 63%;
        font-size: 2rem;
        line-height: 1.6;
    }

    .moon-section{
        width: 100vw;
        margin: 0 10vw;
    }
    
    .moon{
        width: 80%;    
    }
    
    /* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 150vw;
    margin: 0 5vw 0 0vw;
}

.never-heard-p{
        width: 100%;
        font-size: 2rem;
        line-height: 1.50;
}

.selfie-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.selfie{
    width: 80%;
}

.does-not-exist-section{
    width: 150vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.does-not-exist-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.for-the-past-30-years-section{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.for-the-past-30-years-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.footsteps-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.footsteps{
    width: 80%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

.thorough{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.the-most-thorough-imitator-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.born-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.born{
    width: 80%;
}

.in-japan{
    width: 100vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.born-in-japan-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.born-in-japan-section{
    width: 100vw;
    height: 100%;
    position: relative;
    margin: 0 5vw 0 5vw;
}

.ramen{
    width: 50vw;
}
.vinyl{
    width: 50vw;
}


.reborn{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}


.reborn-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50; 
}

.perfection-section{
    width: 100vw;
    margin: 0 5vw;
}

.perfection{
    width: 80%;
}

.from-then-onwards-section{
    width: 250vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

/* FROM THEN ONWARDS P */

.from-then-onwards-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.anatomy-section{
    width: 100vw;
    margin: 0 5vw;
}

.anatomy{
    width: 80%;
}

.micro-section{
    width: 120vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.micro-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.monk-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.monk{
    width: 80%;
}

.monk-txt{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.like-an-obsessed-monk-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.maze-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.maze{
    width: 80%;
}

.too-far-section{
    width: 150vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.too-far-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.heaven-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.heaven{
    width: 80%;
}

.heaven-text{
    width: 150vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.heaven-p{
    width: 100%;
    font-size: 2rem;
    line-height: 1.50;
}

.hr-a{
    width: 2860vw;
}

.hr-b{
    width: 2860vw;
}

.hr-c{
    width: 2860vw;
}

.hr-d{
    width: 2860vw;
}

.hr-e{
    width:2860vw;
}

.hr-f{
    width: 2860vw;
}
}


@media only screen and (max-width: 400px){
    #container{
        width: 3550vw;
    }

    .intro-text{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .obsession-h1{
        font-size: 2rem;
        width: 80%;
        right: 10%;
        top: 43%;
    }
    
    .tribute-p{
        width: 90%;
        left: 8%;
        bottom: 65%;
        font-size: 1.5rem;
        line-height: 1.6;
    }

    .moon-section{
        width: 100vw;
        margin: 0 10vw;
    }
    
    .moon{
        width: 100%;    
    }
    
    /* NEVER HEARD SECTION */

.if-you-never-heard-section{
    width: 180vw;
    margin: 0 5vw 0 0vw;
}

.never-heard-p{
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.50;
}

.selfie-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.selfie{
    width: 100%;
}

.does-not-exist-section{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.does-not-exist-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.ghost-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.ghost{
    width: 100%;
}

.for-the-past-30-years-section{
    width: 200vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.for-the-past-30-years-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.footsteps-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.footsteps{
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 4px 2px black);
    border-radius: 30px;
}

.thorough{
    width: 210vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.the-most-thorough-imitator-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.born-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.born{
    width: 100%;
}

.in-japan{
    width: 130vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.born-in-japan-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.born-in-japan-section{
    width: 130vw;
    height: 100%;
    position: relative;
    margin: 0 5vw 0 5vw;
}

.ramen{
    width: 70vw;
}
.vinyl{
    width: 70vw;
}


.reborn{
    width: 210vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}


.reborn-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50; 
}

.perfection-section{
    width: 100vw;
    margin: 0 5vw;
}

.perfection{
    width: 100%;
}

.from-then-onwards-section{
    width: 280vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

/* FROM THEN ONWARDS P */

.from-then-onwards-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.anatomy-section{
    width: 100vw;
    margin: 0 5vw;
}

.anatomy{
    width: 100%;
}

.micro-section{
    width: 150vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.micro-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.monk-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.monk{
    width: 100%;
}

.monk-txt{
    width: 210vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.like-an-obsessed-monk-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.maze-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.maze{
    width: 100%;
}

.too-far-section{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.too-far-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.heaven-section{
    width: 100vw;
    height: 100%;
    margin: 0 5vw;
}

.heaven{
    width: 100%;
}

.heaven-text{
    width: 180vw;
    height: 100%;
    margin: 0 5vw 0 5vw;
}

.heaven-p{
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.50;
}

.hr-a{
    width: 3370vw;
}

.hr-b{
    width: 3370vw;
}

.hr-c{
    width: 3370vw;
}

.hr-d{
    width: 3370vw;
}

.hr-e{
    width:3370vw;
}

.hr-f{
    width: 3370vw;
}
}




